<div class="text-center my-3 justify-content-center">
    <div class="row justify-content-center">
        <h2 class="mb-3">Welcome to Hotel</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <input [routerLink]="['/newReservation']" class="btn btn-primary" type="submit"
                value="Create new reservation" />
        </div>
        <div class="col-md-3">
            <input [routerLink]="['/list']" class="btn btn-primary" type="submit" value="List all reservations" />
        </div>
    </div>
</div>